/* General styles */
.headerText {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

.headerImage {
  display: block;
  margin: 0 auto;
}

.printButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.printButton:hover {
  background-color: #0056b3;
}

.main-Content {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Print-specific styles */
@media print {
  .printButton {
    display: none;
  }

  .headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: white;
    z-index: 1;
    padding-top: 20px;
    height: 100px; /* Adjust this value based on your header height */
  }

  .main-Content {
    margin-top: 150px; /* Adjust this value based on your header height */
    position: relative;
    z-index: 1;
    page-break-inside: avoid;
  }

  .main-Content p {
    page-break-before: auto;
    page-break-after: avoid;
  }

  @page {
    margin: 20mm;
  }

  @page :first {
    margin-top: 20mm; /* Adjust this value based on your header height */
  }

  @page :left, :right {
    margin-top: 50mm; /* Adjust this value based on your header height */
  }
}
